.env
**/__pycache__/
**/.DS_Store
**/venv/*
**/db.sqlite3
**/node_modules/*
package-lock.json

# Specific files to ignore
legal/data-lex2kg.ttl
legal/data-lex2kg_ori.ttl

gesis

random-walk/data-lex2kg.ttl
legal/legal_sparql_results.json
random-walk/modified_data-lex2kg.ttl
modified-legal/modified_data-lex2kg.ttl
modified-legal/data-lex2kg.ttl